body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.grid-item {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(48, 113, 145, 0.76);
    text-align: center;
}

.grid-item img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.grid-item p {
    margin: 0;
    font-size: 16px;
    color: #333;
}

.grid-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(48, 113, 145, 0.83);
}
